body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #242424;
  color: white;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}